*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDF2FF;
    font-family: 'Robto', sans-serif;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

img {
    width: 100%;  
}

img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: #4263EB 4px solid;

}

ul {
    list-style: none;
    margin: 48px 0;
}

h1 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
    color: #00082F;
    transition: font-size 400ms;
}

h1:hover {
    font-size: 40px;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4263EB;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;
}

ul li a:hover {
    background: #364FC7;
}

p {
    font-family: 'Roboto', monospace;
    color: #00082F;
    opacity: 0.8;
    font-size: 18px;
    font-weight: 400;
}